.dark {
  --md-sys-color-primary: rgb(222 197 109);
  --md-sys-color-surface-tint: rgb(222 197 109);
  --md-sys-color-on-primary: rgb(59 47 0);
  --md-sys-color-primary-container: rgb(85 69 0);
  --md-sys-color-on-primary-container: rgb(252 225 134);
  --md-sys-color-secondary: rgb(233 193 108);
  --md-sys-color-on-secondary: rgb(63 46 0);
  --md-sys-color-secondary-container: rgb(91 67 0);
  --md-sys-color-on-secondary-container: rgb(255 223 158);
  --md-sys-color-tertiary: rgb(224 196 109);
  --md-sys-color-on-tertiary: rgb(60 47 0);
  --md-sys-color-tertiary-container: rgb(86 69 0);
  --md-sys-color-on-tertiary-container: rgb(254 224 134);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(22 19 11);
  --md-sys-color-on-background: rgb(233 226 212);
  --md-sys-color-surface: rgb(22 19 11);
  --md-sys-color-on-surface: rgb(233 226 212);
  --md-sys-color-surface-variant: rgb(75 70 57);
  --md-sys-color-on-surface-variant: rgb(206 198 180);
  --md-sys-color-outline: rgb(151 144 128);
  --md-sys-color-outline-variant: rgb(75 70 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(233 226 212);
  --md-sys-color-inverse-on-surface: rgb(52 48 39);
  --md-sys-color-inverse-primary: rgb(112 93 13);
  --md-sys-color-primary-fixed: rgb(252 225 134);
  --md-sys-color-on-primary-fixed: rgb(35 27 0);
  --md-sys-color-primary-fixed-dim: rgb(222 197 109);
  --md-sys-color-on-primary-fixed-variant: rgb(85 69 0);
  --md-sys-color-secondary-fixed: rgb(255 223 158);
  --md-sys-color-on-secondary-fixed: rgb(38 26 0);
  --md-sys-color-secondary-fixed-dim: rgb(233 193 108);
  --md-sys-color-on-secondary-fixed-variant: rgb(91 67 0);
  --md-sys-color-tertiary-fixed: rgb(254 224 134);
  --md-sys-color-on-tertiary-fixed: rgb(35 27 0);
  --md-sys-color-tertiary-fixed-dim: rgb(224 196 109);
  --md-sys-color-on-tertiary-fixed-variant: rgb(86 69 0);
  --md-sys-color-surface-dim: rgb(22 19 11);
  --md-sys-color-surface-bright: rgb(60 57 47);
  --md-sys-color-surface-container-lowest: rgb(16 14 7);
  --md-sys-color-surface-container-low: rgb(30 27 19);
  --md-sys-color-surface-container: rgb(34 31 23);
  --md-sys-color-surface-container-high: rgb(45 42 33);
  --md-sys-color-surface-container-highest: rgb(56 52 43);
}
