.dark-medium-contrast {
  --md-sys-color-primary: rgb(245 219 129);
  --md-sys-color-surface-tint: rgb(222 197 109);
  --md-sys-color-on-primary: rgb(46 37 0);
  --md-sys-color-primary-container: rgb(166 143 62);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 215 132);
  --md-sys-color-on-secondary: rgb(50 35 0);
  --md-sys-color-secondary-container: rgb(175 140 61);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(247 218 128);
  --md-sys-color-on-tertiary: rgb(47 37 0);
  --md-sys-color-tertiary-container: rgb(167 143 61);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(22 19 11);
  --md-sys-color-on-background: rgb(233 226 212);
  --md-sys-color-surface: rgb(22 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(75 70 57);
  --md-sys-color-on-surface-variant: rgb(228 220 201);
  --md-sys-color-outline: rgb(185 177 160);
  --md-sys-color-outline-variant: rgb(150 144 128);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(233 226 212);
  --md-sys-color-inverse-on-surface: rgb(45 42 33);
  --md-sys-color-inverse-primary: rgb(86 71 0);
  --md-sys-color-primary-fixed: rgb(252 225 134);
  --md-sys-color-on-primary-fixed: rgb(22 17 0);
  --md-sys-color-primary-fixed-dim: rgb(222 197 109);
  --md-sys-color-on-primary-fixed-variant: rgb(66 53 0);
  --md-sys-color-secondary-fixed: rgb(255 223 158);
  --md-sys-color-on-secondary-fixed: rgb(25 16 0);
  --md-sys-color-secondary-fixed-dim: rgb(233 193 108);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 51 0);
  --md-sys-color-tertiary-fixed: rgb(254 224 134);
  --md-sys-color-on-tertiary-fixed: rgb(23 16 0);
  --md-sys-color-tertiary-fixed-dim: rgb(224 196 109);
  --md-sys-color-on-tertiary-fixed-variant: rgb(66 53 0);
  --md-sys-color-surface-dim: rgb(22 19 11);
  --md-sys-color-surface-bright: rgb(72 68 58);
  --md-sys-color-surface-container-lowest: rgb(9 7 3);
  --md-sys-color-surface-container-low: rgb(32 29 21);
  --md-sys-color-surface-container: rgb(43 40 31);
  --md-sys-color-surface-container-high: rgb(54 50 41);
  --md-sys-color-surface-container-highest: rgb(65 61 52);
}
