/* 
    To demonstrate CSS knowledge use the technology to style your HTML pages from the previous homework (HW2). 
    You may need to add classes, id, and restructure your elements in order to do this task. That is fine. 
    However, do not convert your site to a <div> dominant design - this can result in significant point loss.

    To layout your page you MUST use CSS Flexbox and/or CSS Grid (10 pts). 
    You do not have to account for ancient browsers so assume Edge Chromium, Chrome, latest Safari and latest Firefox level access.

    To style your page use whichever CSS properties you like, but you must show demonstration of these intermediate or advanced ideas:

    CSS Variables, make sure to use fallbacks while using variables (2 pts)
    Custom Fonts (also with fallback for slow load or failure) (3 pts)
    Relative units like em, rem, %, etc. (1 pt)
    Dynamic viewport units dvw, dvh, etc (1 pt)
    CSS Animations, Transitions and Transforms (3 pts each)
    Media Queries (See Part 3 - Responsive Web Design)
    Some of the following might not have the maximum adoption current (most are hovering around 87-88% adoption) but are worth trying out:

    Use wider gamut color with color() and color-mix() (2 pts)
    New selectors like has() (2 pts)
    Extra Credit: Use Nested and Scoped CSS (5 pts)

    Any CSS written should be as standard as is possible. 
*/

@import "light.css";
@import "dark.css";

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov/Volkhov-Regular.ttf");
}

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov/Volkhov-Bold.ttf");
    font-weight: bold;
}


@font-face {
    font-family: "Spectral";
    src: url("../fonts/Spectral/Spectral-Regular.ttf");
}

:root {
    --header-footer-height: 64px;
}

/* Common between page styles*/

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--md-sys-color-background, white);
}
  
nav {
    display: flex;
    height: var(--header-footer-height, 64px);
    justify-content: space-between;
    align-items: center;
    font-family: "Volkhov", Arial, Sans-serif;
    font-weight: bold;
}

nav ul {
    width: 12rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 0.75em;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: var(--md-sys-color-on-surface-container, black);
}

#main-link {
    margin-left: 1rem;
}

hr {
    display: none;
}

footer {
    min-height: var(--header-footer-height, 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-family: "Volkhov", Arial, Sans-serif;
}

footer > :first-child {
    margin-left: 1rem;
}

footer > :last-child {
    margin-right: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--md-sys-color-on-surface-container, black);
    font-weight: bold;
}

footer small {
    font-size: 0.75em;
    color: var(--md-sys-color-on-surface-container, black);
}

/* Page styles */

main {
    font-family: "Spectral", Arial, Sans-serif;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main div {
    height: 100%;
    background-color: var(--md-sys-color-surface-container);
    border-radius: 2rem;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-container {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-container p {
    padding: 1rem;
    font-size: 2rem;
}

main img { 
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
